@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,500&family=Roboto:wght@300;400;500;900&family=Russo+One&display=swap");
/* .app {
  overflow: hidden;
} */
.company_head {
  margin: 20px;
}
/* .company_head h2 {
  font: 500 1.5rem "poppins";
} */
